<style>
    #commandPanel {
        display: flex;
        margin-top: -5px;
    }
    
    #btnAdd {
        margin-left: auto;
        font-size: xxx-large;
        color: #007431;
        margin-right: 10px;
    }

    .titlePage {
        line-height: 63px;
    }

</style>

<style>
    #addZakaz {
        max-width: 300px;
        margin: auto;
        margin-bottom: 30px;
        background-color: aliceblue;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    #saveNewZakaz {
        margin-left: auto;
        margin-right: 20px;
    }

    .labelNewZakaz {
        width: 150px;
        margin-top: 10px;
    }

    #selectSize {
        width: 128px;
        background-color: white;
        border: 1px solid #ced4da;
        text-align: right;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        height: 38px;
        padding-right: 10px;
    }

    option {
        text-align: left;
    }
</style>

<div id="commandPanel">
    <h4 class="titlePage">Список поступлений корпусов</h4>
    <i class="bi bi-plus-circle" id="btnAdd"></i>
</div>


<div id="addZakaz" style="display: none;">
    <h5 style="margin-bottom: 20px; font-weight: bold; text-align: center;">Новый приход корпусов</h5>

    <div class="input-group mb-2">
        <label for="time" class="labelNewZakaz">Размер:</label>
        <select id="selectSize">
            <option selected disabled style="display: none;"></option>
            <option value="152">152</option>
            <option value="1521">1521 с базой</option>
            <option value="1522">1522 база и конус</option>
            <option value="1523">1523 под канавку</option>
            <option value="1524">1524 под чистовую</option>
            <option value="12345.2">120</option>
            <option value="12345-80">80</option>
        </select>
    </div>

    <div class="input-group mb-2">
        <label for="time" class="labelNewZakaz">Количество, шт:</label>
        <input type="number" class="form-control inputFixBrak textAlignEnd" inputmode="numeric" style="width: 100px;" id="count" aria-describedby="basic-addon3">
    </div>

    <div class="input-group mb-2" id="workInProvider" style="display: none;">
        <label for="date" class="labelNewZakaz">С Саранской</label>
        <input class="" type="checkbox" style="width: 30px;"  value="" id="workInSaranskaya">
    </div>

    <div style="display: flex; margin-top: 20px;">
        <button type="button" class="btn btn-success" id="saveNewZakaz">Сохранить</button>
        <button type="button" class="btn btn-secondary" id="cancelNewZakaz">Отмена</button>
    </div>
</div>


<table  id="аЗаказНаПроизводство" 
        url="/app/zakaz" 
        callbackBeforeInitTable="callbackBeforeInitTable" 
        filter="filter" 
        callbackAfterInitTable="callbackAfterInitTable" 
        addNevRow="callbackAddNewRow"
        callbackAfterWrite="callbackAfterWrite"
        append="end" 
        init header>

    <tr class="config" style="display: none;">
        <td title="Дата" 
            name="Дата" 
            style="width: 60px;"><div class="dataCell textAlignCenter" mask="DD.MM   HH:mm" typeData="date"></div></td>
        <td title="МЛ"  
            name="Номер" 
            style="width: 65px;"><div class="dataCell textAlignCenter"></div></td>
        <td title="Деталь" 
            name="АртикулНаименование" 
            style="width: 200px;"><div class="dataCell"></div></td>
        <td title="Автор" 
            name="Автор" 
            style="width: 200px;"><div class="dataCell"></div></td>
        <td title="Количество" 
            name="Заказано" 
            style="width: 75px; "><div class="dataCell textAlignEnd" style="padding: 5px;"></div></td>
        <td title="Доп. инфо." 
            name="НомерЗаказа" 
            style="width: 70px;"><div class="dataCell"></div></td>
    </tr>
</table>

<script>
    $(document).ready(function() {
        let tableID = '#аЗаказНаПроизводство';

        initTables();

        initInputCount('#count');
        initSelectSize('#selectSize');

        // callback при получении данных от сервера по wss
        callbackWSS = async function(data){callbackTable(data)};

        // callback перед отрисовкой таблицы
        callbackBeforeInitTable = function(data) {}

        // callback при изменении данных в строке для определения показать или убрать строку
        filter = function(data, result = true) { return result; }

        // callback после отрисовки таблицы
        callbackAfterInitTable = function(data) {}

        // callback после вставки новой пустой строки, перед заполнением данными
        callbackAddNewRow = function(data) {}

        // callback после внесения изменений в строку с сервера
        callbackAfterWrite = function(data) {}

        // клик по кнопке Добавить отчет
        $('#btnAdd').on('click', function(event){
            clickAnimate(this);

            setTimeout(() => { $('#addZakaz').show(300);}, 200);
            setTimeout(() => { $('#btnAdd').hide(300);}, 200);

            $('#selectSize').val('');
            setValid('#selectSize', false);

            $('#count').val('');
            setValid('#count', false);

            $('#workInSaranskaya').prop('checked', false);
            $('#workInSaranskaya').parent().hide();

            /* var userInput = prompt("Сколько корпусов пришло?");

            if (userInput === null) {
                return;
            } else if (userInput === "") {
                alert("Вы не ввели значение.");
                return;
            }

            const userNumber = parseInt(userInput); // Преобразование строки в число

            NProgress.start();
            highlight = false;

            logToServer('Нажата кнопка "Добавить заказ"');

            const data = { detal:'12345.2', count: userNumber};

            $.ajax({url: '/app/createZakaz', method: 'POST', contentType: 'application/json',
                data: JSON.stringify(data), 
                success: function(data, status) { console.log('logToServer', status, data); }
            }).always(function() {
                NProgress.done();
                highlight = true;
                initTables();
            }); */
        });

        function initSelectSize(element) {
            $(element).on("change" , function() {
                const value = $(this).val();
                setValid(this, true);

                if (value == '12345.2') {
                    $('#workInSaranskaya').parent().show();    
                } else {
                    $('#workInSaranskaya').parent().hide();
                    $('#workInSaranskaya').prop('checked', false);
                }
            })
        }

        function initInputCount(element) {
            $(element).on("change" , function() {
                const value = $(this).val();

                if (value == 0 || value === '' || value < 0 ) {
                    setValid(this, false);    
                } else {
                    setValid(this, true); 
                }
            })
        }


        $('#saveNewZakaz').on('click', function(event){
            clickAnimate(this);

            const selectSize = $('#selectSize');
            const count = $('#count');
            const workInSaranskaya = $('#workInSaranskaya');

            if (selectSize.hasClass('invalid')) {
                toastr.error('Выберите размер корпуса')
                return;
            }

            if (count.hasClass('invalid')) {
                toastr.error('Укажите сколько штук изготовлено')
                return;
            }

            setTimeout(() => { $('#addZakaz').hide(300);}, 200);
            setTimeout(() => { $('#btnAdd').show(300);}, 200);

            const data = {};
            data.detal = $(selectSize).val();
            data.count = parseInt($(count).val());
            data.workInSaranskaya = $(workInSaranskaya).prop('checked');

            console.log(data);
            NProgress.start();

            $.ajax({url: '/app/createZakaz', method: 'POST', contentType: 'application/json',
                data: JSON.stringify(data), 
                success: function(data, status) { console.log('success POST', status, data); }
            }).always(function() 
            {
                NProgress.done();

                initTables();
            });
        });

        $('#cancelNewZakaz').on('click', function(event){
            clickAnimate(this);
            setTimeout(() => { $('#addZakaz').hide(300);}, 200);
            setTimeout(() => { $('#btnAdd').show(300);}, 200);
        });
    });    
</script>