<style></style>

<style>
  #addZakaz {
    max-width: 600px;
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
    background-color: aliceblue;
    padding: 0.6em;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 30px;
  }

  .input-group {
    margin-bottom: 0.4em !important;
  }

  .zakazInput {
    font-size: 0.8em;
    height: 2em;
    padding: 0 10px 0 10px;
    width: 60%;
    border-radius: 5px !important;
  }

  .labelNewZakaz {
    width: 250px;
    font-size: 0.8em;
    margin-top: 10px;
    width: 40%;
  }

  #selectSize {
    background-color: white;
    border: 1px solid #ced4da;
    text-align: right;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .buttonContainer {
    display: flex;
    justify-content: end;
    width: 60%;
    margin-left: auto;
    margin-right: 0;
  }
  .zakazButton {
    margin-left: 0.8em;
  }

  #selectSize option {
    text-align: left;
    font-size: 1em;
  }

  @media (max-width: 600px) {
    #addZakaz {
      font-size: 18px;
    }

    .labelNewZakaz {
      margin: 5px 0 0 0;
    }
  }
</style>

<div id="commandPanel">
  <h4 class="titlePage">Список поступлений корпусов</h4>
  <i class="bi bi-plus-circle btnAdd" id="btnAdd"></i>
</div>

<div id="addZakaz" style="display: none">
  <div class="formTitle">Новый приход корпусов</div>

  <div class="input-group mb-2">
    <label for="time" class="labelNewZakaz">Размер:</label>
    <select id="selectSize" class="zakazSelect zakazInput"></select>
  </div>

  <div class="input-group mb-2">
    <label for="time" class="labelNewZakaz">Количество, шт:</label>
    <input
      type="number"
      class="form-control inputFixBrak textAlignEnd zakazInput"
      inputmode="numeric"
      id="count"
      aria-describedby="basic-addon3"
    />
  </div>

  <div class="input-group mb-2" id="workInProvider" style="display: none">
    <label for="date" class="labelNewZakaz">С Саранской</label>
    <input class="" type="checkbox" style="width: 30px" value="" id="workInSaranskaya" />
  </div>

  <div class="buttonContainer">
    <button type="button" class="btn btn-success formButton zakazButton" id="saveNewZakaz">Сохранить</button>
    <button type="button" class="btn btn-secondary zakazButton formButton" id="cancelNewZakaz">Отмена</button>
  </div>
</div>

<table
  id="аЗаказНаПроизводство"
  name="аЗаказНаПроизводство"
  url="/app/zakaz"
  callbackBeforeInitTable="callbackBeforeInitTable"
  filter="filter"
  callbackAfterInitTable="callbackAfterInitTable"
  addNevRow="callbackAddNewRow"
  callbackAfterWrite="callbackAfterWrite"
  append="end"
  init
  header
>
  <tr class="config" style="display: none">
    <td title="Дата" name="Дата" style="width: 8%">
      <div class="dataCell textAlignCenter" mask="DD.MM   HH:mm" typeData="date"></div>
    </td>
    <td title="МЛ" name="Номер" style="width: 8%">
      <div class="dataCell textAlignCenter"></div>
    </td>
    <td title="Деталь" name="АртикулНаименование" style="width: 48%">
      <div class="dataCell"></div>
    </td>
    <td title="Автор" name="Автор" style="width: 20%">
      <div class="dataCell"></div>
    </td>
    <td title="Количество" name="Заказано" style="width: 8%">
      <div class="dataCell textAlignEnd" style="padding: 5px"></div>
    </td>
    <td title="Доп. инфо." name="НомерЗаказа" style="width: 8%">
      <div class="dataCell"></div>
    </td>
  </tr>
</table>

<script>
  $(document).ready(function () {
    let tableID = '#аЗаказНаПроизводство';

    const listArticules = [
      { name: '152', articul: '152' },
      { name: '1521 с базой', articul: '1521' },
      { name: '1522 база и конус', articul: '1522' },
      { name: '1523 под канавку', articul: '1523' },
      { name: '1524 под чистовую', articul: '1524' },
      { name: '120', articul: '12345.2' },
      { name: '80', articul: '12345-80' },
      { name: 'корпус 900', articul: '900' },
      { name: 'корпус 400', articul: '400' },
      { name: 'корпус 155', articul: '155' },
    ];

    if ($('#selectSize').length) {
      listArticules.forEach(function (item) {
        const option = $('<option>', {
          value: item.articul,
          text: item.name,
        });
        $('#selectSize').append(option);
      });
    }

    const articules = listArticules.map(item => item.articul).join(',');
    console.log('articules from 12345', articules);
    $('#аЗаказНаПроизводство').data('param', articules);

    initTables();

    initInputCount('#count');
    initSelectSize('#selectSize');

    // callback при получении данных от сервера по wss
    callbackWSS = async function (data) {
      callbackTable(data);
    };

    // callback перед отрисовкой таблицы
    callbackBeforeInitTable = function (data) {};

    // callback при изменении данных в строке для определения показать или убрать строку
    filter = function (data, result = true) {
      return result;
    };

    // callback после отрисовки таблицы
    callbackAfterInitTable = function (data) {};

    // callback после вставки новой пустой строки, перед заполнением данными
    callbackAddNewRow = function (data) {};

    // callback после внесения изменений в строку с сервера
    callbackAfterWrite = function (data) {};

    // клик по кнопке Добавить отчет
    $('#btnAdd').on('click', function (event) {
      clickAnimate(this);

      setTimeout(() => {
        $('#addZakaz').show(300);
      }, 200);
      setTimeout(() => {
        $('#btnAdd').hide(300);
      }, 200);

      $('#selectSize').val('');
      setValid('#selectSize', false);

      $('#count').val('');
      setValid('#count', false);

      $('#workInSaranskaya').prop('checked', false);
      $('#workInSaranskaya').parent().hide();

      /* var userInput = prompt("Сколько корпусов пришло?");

            if (userInput === null) {
                return;
            } else if (userInput === "") {
                alert("Вы не ввели значение.");
                return;
            }

            const userNumber = parseInt(userInput); // Преобразование строки в число

            NProgress.start();
            highlight = false;

            logToServer('Нажата кнопка "Добавить заказ"');

            const data = { detal:'12345.2', count: userNumber};

            $.ajax({url: '/app/createZakaz', method: 'POST', contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(data, status) { console.log('logToServer', status, data); }
            }).always(function() {
                NProgress.done();
                highlight = true;
                initTables();
            }); */
    });

    function initSelectSize(element) {
      $(element).on('change', function () {
        const value = $(this).val();
        setValid(this, true);

        if (value == '12345.2') {
          $('#workInSaranskaya').parent().show();
        } else {
          $('#workInSaranskaya').parent().hide();
          $('#workInSaranskaya').prop('checked', false);
        }
      });
    }

    function initInputCount(element) {
      $(element).on('change', function () {
        const value = $(this).val();

        if (value == 0 || value === '' || value < 0) {
          setValid(this, false);
        } else {
          setValid(this, true);
        }
      });
    }

    $('#saveNewZakaz').on('click', function (event) {
      clickAnimate(this);

      const selectSize = $('#selectSize');
      const count = $('#count');
      const workInSaranskaya = $('#workInSaranskaya');

      if (selectSize.hasClass('invalid')) {
        toastr.error('Выберите размер корпуса');
        return;
      }

      if (count.hasClass('invalid')) {
        toastr.error('Укажите сколько штук изготовлено');
        return;
      }

      setTimeout(() => {
        $('#addZakaz').hide(300);
      }, 200);
      setTimeout(() => {
        $('#btnAdd').show(300);
      }, 200);

      const data = {};
      data.detal = $(selectSize).val();
      data.count = parseInt($(count).val());
      data.workInSaranskaya = $(workInSaranskaya).prop('checked');

      console.log(data);
      NProgress.start();

      $.ajax({
        url: '/app/createZakaz',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function (data, status) {
          console.log('success POST', status, data);
        },
      }).always(function () {
        NProgress.done();

        initTables();
      });
    });

    $('#cancelNewZakaz').on('click', function (event) {
      clickAnimate(this);
      setTimeout(() => {
        $('#addZakaz').hide(300);
      }, 200);
      setTimeout(() => {
        $('#btnAdd').show(300);
      }, 200);
    });
  });
</script>
