<style>
    @media (max-width: 450px) {
        #ОтчетПоРаботе2022 th {
            width: auto !important;  
        }

        #ОтчетПоРаботе2022 {
            font-size: 0.5em !important;  
        }

        #ОтчетПоРаботе2022 th:nth-child(2) {
            width: 15% !important;
        }

        #ОтчетПоРаботе2022 th:nth-child(4) {
            width: 12% !important;
        }

        #ОтчетПоРаботе2022 .dataCell {
            text-wrap: wrap;  
        }
        
        #ОтчетПоРаботе2022 td:nth-child(2) {
            font-size: 0.9em !important;
        }

        #ОтчетПоРаботе2022 .btnRow {
            font-size: medium !important;  
        }

        #ОтчетПоРаботе2022 .checkboxInTable {
            height: 20px !important;  
        }
    }
</style>

<h3 class="titlePage" >Список отчетов на проверку ОТК</h3>

<table  id="ОтчетПоРаботе2022" 
        url="/app/getCurrentReportForOTK" 
        filter="filterForOTK" 
        addNevRow="callbackAddNewRowForOTK" 
        append="end" 
        sort="0" init header>
    <tr class="config" style="display: none;">
        <td title="Дата" 
            name="ДатаОтчета" 
            style="width: 60px;"><div class="dataCell textAlignCenter" mask="DD.MM" typeData="date"></div></td>
        <td title="Номер детали" 
            name="Заказ" 
            key="АртикулНаименование" 
            style="width: 100%;"><div class="dataCell"></div></td>
        <td title="МЛ"  
            name="Заказ" 
            key="Номер" 
            style="width: 50px;"><div class="dataCell textAlignCenter"></div></td>
        <td title="Оператор" 
            name="Сотрудник" 
            key="Наименование" 
            style="width: 110px;"><div class="dataCell"></div></td>
        <td title="Этап производства" 
            name="ЭтапПроизводства" 
            key="Наименование" 
            style="width: 170px;"><div class="dataCell"></div></td>
        <td title="Изгото влено" 
            name="КоличествоИзготовлено" 
            style="width: 60px; padding: 0px;"><div class="dataCell textAlignEnd"></div></td>
        <td title="Прове рено" 
            name="КоличествоПроверено" 
            style="width: 65px;">
            <input type="number" 
            inputmode="numeric" checkValid 
                min="0" 
                class="dataCell quantity textAlignEnd" style="padding: 0px;"></td>
        <td title="Брак" 
            name="КоличествоБрака" 
            style="width: 60px;">
            <input type="number" 
                inputmode="numeric" 
                min="0" 
                class="dataCell quantity textAlignEnd" style="padding: 0px;"></td>
        <td title="Готов" 
            name="СтатусОТК"
            style="width: 55px;"> 
            <input type="checkbox" 
                name="Проведен" 
                class="dataCell checkboxInTable" ></td>
        <td title="" 
            style="width: 55px;"><div class="groupBtnRow">
                <i class="bi bi-pencil btnEdit btnRow colorGreen"></i>
                <i class="bi bi-check-circle btnRow btnOk colorGreen" style="display: none;"></i>
            </div></td>
    </tr>
</table>



<script>
    $(document).ready(function() {
        initTables();
        addSubscribeWSS('ОтчетПоРаботе2022_all');

        callbackWSS = async function(data) {
            console.log('callbackWSS', data);
            callbackTable(data);
        }

        // callback при изменении данных в строке для определения показать или убрать строку
        filterForOTK = function(data, result = true) {
            console.log('filterForOTK', data);

            try {
                if (!data['Проведен']){
                    result = false;
                }

                if (data['СтатусОТК']){
                    result = false;
                }

            } catch (error) { console.log(error) }

            return result;
        }

        // callback при добавлении строки
        callbackAddNewRowForOTK = function(data) {
            return;
        }

        $('#ОтчетПоРаботе2022').on('click', '.btnEdit', function(event){
            clickAnimate(this);
            
            const rowid = $(this).attr('rowid');


            $('#ОтчетПоРаботе2022').find('.btnEdit').show();
            $('#ОтчетПоРаботе2022').find('.btnOk').hide();
            $('#ОтчетПоРаботе2022').find('input').prop('disabled', true);

            var reportRow = $('#' + rowid);
            console.log('reportRow', reportRow); 

            const currDetal = $(reportRow).find('[name="Деталь"]').val();

            $(reportRow).find('.btnOk').show();
            $(reportRow).find('.btnEdit').hide();
            $(reportRow).find('input').prop('disabled', false);

            clickAnimate($(reportRow).find('.btnOk'));

            logToServer('Нажата кнопка "Редактировать"', {report:rowid, currDetal:currDetal});
            
        });

        $('#ОтчетПоРаботе2022').on('click', '.btnOk', function(event){
            rowid = $(this).attr('rowid');
            var row = $('#' + rowid);

            $(this).hide();
            $(row).find('.btnEdit').show();
            $(row).find('.btnFile').show();
            $(row).find('.btnDelete').hide();

            clickAnimate($(row).find('.btnEdit'));
            
            $(row).find('input').prop('disabled', true);
        });

    });
</script>