<style>
    table {
        font-size: 0.9em;
    }

    @media (max-width: 450px) {
        #ОтчетПоРаботе2022 th {
            width: auto !important;  
        }

        #ОтчетПоРаботе2022 {
            font-size: 0.5em !important;  
        }

        #ОтчетПоРаботе2022 th:nth-child(2) {
            width: 15% !important;
        }

        #ОтчетПоРаботе2022 th:nth-child(4) {
            width: 12% !important;
        }

        #ОтчетПоРаботе2022 .dataCell {
            text-wrap: wrap;  
        }
        
        #ОтчетПоРаботе2022 td:nth-child(2) {
            font-size: 0.9em !important;
        }

        #ОтчетПоРаботе2022 .btnRow {
            font-size: medium !important;  
        }

        #ОтчетПоРаботе2022 .checkboxInTable {
            height: 20px !important;  
        }
    }
</style>

<h3 class="titlePage" >Список отчетов на проверку ОТК</h3>

<table  id="ОтчетПоРаботе2022" 
        url="/app/getCurrentReportForOTK" 
        filter="filterForOTK" 
        append="end" 
        sort="0" init header>
    <tr class="config" style="display: none;">
        <td title="Дата" 
            name="ДатаОтчета" 
            style="width: 46px;"><div class="dataCell textAlignCenter" mask="DD.MM" typeData="date"></div></td>
        <td title="Номер детали" 
            name="Заказ" 
            key="АртикулНаименование" 
            style="width: 100%;"><div class="dataCell"></div></td>
        <td title="МЛ"  
            name="Заказ" 
            key="Номер" 
            style="width: 45px;"><div class="dataCell textAlignCenter"></div></td>
        <td title="Оператор" 
            name="Сотрудник" 
            key="Наименование" 
            style="width: 110px;"><div class="dataCell"></div></td>
        <td title="Этап производства" 
            name="ЭтапПроизводства" 
            key="Наименование" 
            style="width: 170px;"><div class="dataCell"></div></td>
        <td title="Изгото влено" 
            name="КоличествоИзготовлено" 
            style="width: 55px; padding: 0px;"><div class="dataCell textAlignEnd" style="padding: 5px;"></div></td>
        <td title="Прове рено" 
            name="КоличествоПроверено" 
            style="width: 60px; padding: 0px;">
            <input  type="number" 
                    inputmode="numeric" 
                    sync="none" 
                    checkValid  
                    min="0" 
                    class="dataCell quantity textAlignEnd" 
                    style="padding: 0px;"></td>
        <td title="Брак" 
            name="КоличествоБрака" 
            style="width: 55px; padding: 0px;">
            <input  type="number" 
                    inputmode="numeric"
                    sync="none"  
                    min="0" 
                    class="dataCell quantity textAlignEnd" 
                    style="padding: 0px;"></td>
        <td title="Готов" 
            name="СтатусОТК"
            style="width: 55px;"> 
            <input  type="checkbox" 
                    name="Проведен" 
                    sync="none" 
                    class="dataCell checkboxInTable"></td>
        <td title="" 
            style="width: 55px;"><div class="groupBtnRow">
                <i class="bi bi-pencil btnEdit btnRow colorGreen"></i>
                <i class="bi bi-check-circle btnRow btnOk colorGreen" style="display: none;"></i></div></td>
    </tr>
</table>

<script>
    $(document).ready(function() {
        let tableID = '#ОтчетПоРаботе2022';
        initTables();
        addSubscribeWSS('ОтчетПоРаботе2022_all');

        callbackWSS = async function(data){callbackTable(data)};

        // callback при изменении данных в строке для определения показать или убрать строку
        filterForOTK = function(data, result = true) {
            try {
                if ( !data['Проведен'] || data['СтатусОТК'] || !data['Заказ']['Активен'] ){ result = false; }
            } catch (error) { console.log(error) }

            return result;
        }

        // клик по кнопке Редактировать
        $(tableID).on('click', '.btnEdit', function(event){
            const row = $(this).closest('tr');
            const data = $(row).data('data');

            $(tableID).find('.btnEdit').show();
            $(tableID).find('.btnOk').hide();
            $(tableID).find('input').prop('disabled', true);

            $(row).find('.btnOk').show();
            $(row).find('.btnEdit').hide();
            $(row).find('input').prop('disabled', false);

            clickAnimate($(row).find('.btnOk'));
            logToServer('Нажата кнопка "Редактировать"', data);
        });

        // клик по кнопке Применить
        $(tableID).on('click', '.btnOk', function(event){
            const row = $(this).closest('tr');
            const data = $(row).data('data');

            $(row).find('.btnOk').hide();
            $(row).find('.btnEdit').show();
            $(row).find('input').prop('disabled', true);

            clickAnimate($(row).find('.btnEdit'));
            logToServer('Нажата кнопка "Применить"', data);
            sendWSS('updateDataOnServer', '', data);
        });
    });
</script>