<style>
  table {
    font-size: 0.9em;
  }

  table th {
    font-size: 0.75em;
  }

  .thead th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .checkboxContainer {
    display: flex;
    justify-content: center;
  }
</style>

<h3 class="titlePage">Список отчетов на проверку ОТК</h3>

<table
  id="ОтчетПоРаботе2022"
  name="ОтчетПоРаботе2022"
  url="/app/getCurrentReportForOTK"
  filter="filterForOTK"
  append="end"
  sort="0"
  init
  header
>
  <tr class="config" style="display: none">
    <td title="ДатаДляСортировки" name="ДатаОтчета" style="display: none">
      <div class="dataCell"></div>
    </td>
    <td title="Дата" name="ДатаОтчета" style="width: 6%">
      <div class="dataCell textAlignCenter" mask="DD.MM" typeData="date"></div>
    </td>
    <td title="Номер детали" name="Заказ" key="АртикулНаименование" style="width: 22%">
      <div class="dataCell"></div>
    </td>
    <td title="МЛ" name="Заказ" key="Номер" style="width: 5%">
      <div class="dataCell textAlignCenter"></div>
    </td>
    <td title="Оператор" name="Сотрудник" key="Наименование" style="width: 20%">
      <div class="dataCell"></div>
    </td>
    <td title="Этап производства" name="ЭтапПроизводства" key="Наименование" style="width: 20%">
      <div class="dataCell"></div>
    </td>
    <td title="Изгото влено" name="КоличествоИзготовлено" style="width: 6%">
      <div class="dataCell textAlignEnd" style="padding: 5px"></div>
    </td>
    <td title="Прове рено" name="КоличествоПроверено" style="width: 6%">
      <input type="number" inputmode="numeric" checkValid min="0" sync="none" class="dataCell quantity textAlignEnd" />
    </td>
    <td title="Брак" name="КоличествоБрака" style="width: 5%">
      <input type="number" inputmode="numeric" min="0" sync="none" class="dataCell quantity textAlignEnd" />
    </td>
    <td title="Готов" class="" name="СтатусОТК" style="width: 5%">
      <input type="checkbox" name="Проведен" sync="none" class="dataCell checkboxInTable" />
    </td>
    <td title="" style="width: 5%">
      <div class="groupBtnRow">
        <i class="bi bi-pencil btnEdit btnRow colorGreen"></i>
        <i class="bi bi-check-circle btnRow btnOk colorGreen" style="display: none"></i>
      </div>
    </td>
  </tr>
</table>

<script>
  $(document).ready(function () {
    let tableID = '#ОтчетПоРаботе2022';
    initTables();
    addSubscribeWSS('ОтчетПоРаботе2022_all');

    callbackWSS = async function (data) {
      callbackTable(data);
    };

    // callback при изменении данных в строке для определения показать или убрать строку
    filterForOTK = function (data, result = true) {
      try {
        console.log('filter', data);
        if (!data['Проведен'] || data['СтатусОТК'] || !data['Заказ']['Активен'] || !data['ЭтапПроизводства']['ОТК']) {
          console.log('filter result false');
          result = false;
        }
      } catch (error) {
        console.log(error);
      }
      //console.log('filter result ', result,data);
      return result;
    };

    // клик по кнопке Редактировать
    $(tableID).on('click', '.btnEdit', function (event) {
      const row = $(this).closest('tr');
      const data = $(row).data('data');

      $(tableID).find('.btnEdit').show();
      $(tableID).find('.btnOk').hide();
      $(tableID).find('input').prop('disabled', true);

      $(row).find('.btnOk').show();
      $(row).find('.btnEdit').hide();
      $(row).find('input').prop('disabled', false);

      clickAnimate($(row).find('.btnOk'));
      logToServer('Нажата кнопка "Редактировать"', data);
    });

    // клик по кнопке Применить
    $(tableID).on('click', '.btnOk', function (event) {
      const row = $(this).closest('tr');
      const data = $(row).data('data');
      console.log('data', data);
      const count = data.edited['КоличествоПроверено'] || 0;
      const OTK = data.edited['СтатусОТК'] || false;
      const defect = data.edited['КоличествоБрака'] || 0;
      const edited = {
        КоличествоПроверено: count,
        КоличествоБрака: defect,
        СтатусОТК: OTK,
      };
      data.edited = edited;

      $(row).find('.btnOk').hide();
      $(row).find('.btnEdit').show();
      $(row).find('input').prop('disabled', true);

      clickAnimate($(row).find('.btnEdit'));
      logToServer('Нажата кнопка "Применить"', data);
      console.log('data', data);
      sendWSS('updateDataOnServer', '', data);
    });
  });
</script>
