<style>
  #groupFixReport label {
    width: 58%;
  }

  label[for="sotrudnikFix"] {
    width: 32% !important;
  }

  #dateFix {
    text-align: center;
  }

  @media (max-width: 600px) {
    #groupFixReport label {
      width: 65%;
      font-size: 0.9em;
    }

    #groupFixReport input {
      font-size: 0.9em;
    }

    label[for="sotrudnikFix"] {
      width: 40% !important;
    }

    label[for="dateFix"] {
      width: 40% !important;
    }
  }
</style>

<div id="fixReportForm">
  <div id="groupFixReport" class="reportContainer">
    <h5>Отчет по исправлению брака</h5>
    <div class="input-group mb-2">
      <label for="sotrudnikFix" class="labelFixBrak">Кто исправлял :</label>
      <input
        type="text"
        class="form-control inputFixBrak"
        id="sotrudnikFix"
        url="/app/autocompleteSotrydnik"
        name="Станок"
        key="ИнвентарныйНомер"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group mb-2">
      <label for="dateFix" class="labelFixBrak">Когда исправлял :</label>
      <input
        type="date"
        class="form-control inputFixBrak"
        id="dateFix"
        placeholder="дд/мм/гггг"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group mb-2">
      <label for="time" class="labelFixBrak">Времени потрачено, чч:мм:</label>
      <input
        type="text"
        class="form-control inputFixBrak"
        inputmode="numeric"
        limitHourse="99"
        data-mask="99:A9"
        id="time"
        placeholder="чч:мм"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group mb-2">
      <label for="time" class="labelFixBrak">Количество исправлено, шт:</label>
      <input
        type="number"
        class="form-control inputFixBrak textAlignEnd"
        inputmode="numeric"
        id="countFix"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group" id="buttonsGroup">
      <label></label>
      <button
        type="button"
        class="btn btn-success reportButton"
        id="saveFixReport"
      >
        Сохранить
      </button>
      <button
        type="button"
        class="btn btn-secondary reportButton"
        id="cancelFixReport"
      >
        Отмена
      </button>
    </div>
  </div>
</div>
