<style>

  #groupNewReport {
    font-size: x-large;
  }

  @media (max-width: 600px) {
    #workTimePeriod input {
      padding: 2px;
    }

    #groupNewReport {
      font-size: 4vw;
    }
  }

  #workInProvider {
    justify-content: start;
  }

  #workInProvider input {
    width: 1.5em;
    height: 1.5em;
    flex-grow: initial;
    margin-top: 10px;
  }

  #workInProviderInput {
    margin-top: 5px;
    margin-left: 20px;
  }

  #groupInputProvider label,
  #groupInputSotrudnik label,
  #groupInputData label,
  #workTimePeriod label,
  #buttonsGroup label,
  #groupInputStanok label {
    width: 32%;
  }

  #groupIntputQuantity label,
  .termoobrabotka label,
  #groupMachineTime label,
  #groupFullTime label,
  #groupCountPerOne label {
    width: 70%;
  }




  @media (max-width: 600px) {
    /* #groupInputProvider label,
    #groupInputSotrudnik label,
    #groupInputData label,
    #workTimePeriod label,
    #buttonsGroup label {
      width: 42%;
    }

    #groupIntputQuantity label,
    .termoobrabotka label {
      width: 75%;
    } */
  }

  #groupInputProvider input {
    flex-grow: 1;
  }

  #groupInputSotrudnik input {
    flex-grow: 1;
  }

  #groupInputData {
    justify-content: flex-start;
  }

  #groupInputData input {
    width: 8em;
    flex-grow: 1;
    text-align: center;
  }

  .shortTerm {
    width: 2em;
    margin-right: 5px;
  }

  #workTimePeriod div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
  #workTimePeriod {
    justify-content: flex-start;
  }

  #workTimePeriod label {
  }

  #workTimePeriod input {
    flex-grow: 1 !important;
  }

  #groupIntputQuantity input {
    flex-grow: 1;
  }

  .obrabotkaProviderPrice input {
    flex-grow: 1 !important;
  }
</style>

<div id="newReportForm">
  <div id="groupNewReport" class="reportContainer">
    <div class="formTitle">Создание отчета</div>

    <div class="input-group" id="workInProvider">
      <label for="date" class="labelNewReport">Сделано у подрядчика :</label>
      <input class="" type="checkbox" value="" id="workInProviderInput" />
    </div>

    <div class="input-group" id="groupInputProvider" style="display: none">
      <label for="provider" class="labelNewReport">Подрядчик :</label>
      <input
        type="text"
        class="form-control inputFixBrak"
        id="provider"
        url="/app/autocompleteProvider"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group" id="groupInputSotrudnik">
      <label for="sotrudnik" class="labelNewReport">Сотрудник :</label>
      <input
        type="text"
        class="form-control inputFixBrak"
        id="sotrudnik"
        url="/app/autocompleteSotrydnik"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group" id="groupInputData">
      <label for="date" class="labelNewReport">Дата :</label>
      <input
        type="date"
        class="form-control inputFixBrak"
        id="date"
        placeholder="дд/мм/гггг"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group" id="workTimePeriod">
      <label for="time" class="labelNewReport">Время работы с:</label>
      <!-- <label for="time" class="labelNewReport textAlignEnd shortTerm">с:</label> -->
      <div>
        <input
          type="text"
          class="form-control inputFixBrak textAlignCenter"
          inputmode="numeric"
          limitHourse="23"
          data-mask="B9:A9"
          id="timeStart"
          placeholder="чч:мм"
          aria-describedby="basic-addon3"
        />
        <label for="time" class="labelNewReport textAlignEnd shortTerm">по:</label>
        <input
          type="text"
          class="form-control inputFixBrak textAlignCenter"
          inputmode="numeric"
          limitHourse="23"
          data-mask="B9:A9"
          id="timeStop"
          placeholder="чч:мм"
          aria-describedby="basic-addon3"
        />
      </div>
    </div>

    <div class="input-group" id="groupInputStanok">
      <label for="stanok" class="labelNewReport">Станок :</label>
      <input
        type="text"
        class="form-control inputFixBrak"
        id="stanok"
        url="/app/autocompleteStanok"
        aria-describedby="basic-addon3"
        placeholder="инвентарный номер..."
      />
    </div>

    <div class="input-group" id="groupCountPerOne">
      <label for="time" class="labelNewReport">Количество за установку, шт:</label>
      <input
        type="number"
        class="form-control inputFixBrak textAlignEnd"
        inputmode="numeric"
        id="countPerOne"
        aria-describedby="basic-addon3"
        maxCount="9999" 
      />
    </div>
    
    <div class="input-group" id="groupMachineTime">
      <label for="time" class="labelNewReport">Машинное время, мм:сс</label>
      <input
        type="text"
        class="form-control inputFixBrak textAlignCenter"
        inputmode="numeric"
        limitHourse="99"
        data-mask="99:A9"
        id="machineTime"
        placeholder="мм:сс"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group" id="groupFullTime">
      <label for="time" class="labelNewReport">Полное время, мм:сс</label>
      <input
        type="text"
        class="form-control inputFixBrak textAlignCenter"
        inputmode="numeric"
        limitHourse="99"
        data-mask="99:A9"
        id="fullTime"
        placeholder="мм:сс"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group" id="groupIntputQuantity">
      <label for="time" class="labelNewReport">Количество изготовлено, шт:</label>
      <input
        type="number"
        class="form-control inputFixBrak textAlignEnd"
        inputmode="numeric"
        id="count"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group termoobrabotkaProvider termoobrabotka">
      <label for="time" class="labelNewReport">Вес одной детали, кг:</label>
      <input
        type="number"
        class="form-control inputFixBrak textAlignEnd"
        inputmode="numeric"
        id="weight"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group termoobrabotkaProvider termoobrabotka">
      <label for="time" class="labelNewReport">Цена обработки 1кг, грн:</label>
      <input
        type="number"
        class="form-control inputFixBrak textAlignEnd"
        inputmode="numeric"
        id="price"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group obrabotkaProviderPrice termoobrabotka">
      <label for="time" class="labelNewReport">Цена обработки 1шт, грн:</label>
      <input
        type="number"
        class="form-control inputFixBrak textAlignEnd"
        inputmode="numeric"
        id="priceForOne"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group" id="buttonsGroup">
      <label></label>
      <button type="button" class="btn btn-success reportButton" id="saveNewReport">Сохранить</button>
      <button type="button" class="btn btn-secondary reportButton" id="cancelNewReport">Отмена</button>
    </div>
  </div>
</div>
