<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .notificationContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
  }

  .notificationfooter {
    text-align: right;
  }

  .btn {
  }
</style>

<div id="notificationModal" class="modal">
  <div class="notificationContent">
    <p id="notificationText"></p>

    <div class="notificationfooter">
      <button id="okButton" class="btn btn-lg btn-success">ОК</button>
    </div>
  </div>
</div>
