<style>
  .raitings {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }
  #commandRow {
    position: relative;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
  }

  #groupDate {
    display: flex;
    align-items: center;
  }

  #date {
    width: 100%;
    margin-right: 10px;
    text-align: center;
    font-size: x-large;
    height: 36px;
    margin-bottom: 2px;
    max-width: 140px;
    padding: 0;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid darkgrey;
  }

  .btnArrow {
    font-size: xx-large;
    color: darkgreen;
  }

  #tableList {
    width: 100%;
    font-size: small;
    background-color: #ffffff;
    border-collapse: collapse;
    position: relative;
  }

  #tableList thead {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  #tableList th {
    background: #007431;
    color: white;
    padding: 0 5px 0 5px;
    border-color: black;
    position: sticky;
    top: 0;
  }

  /* td {
    text-align: center;
  } */

  .sotrudnik {
    width: 35%;
    text-align: left;
  }
  .sotrudnik,
  .dateofemployment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dateofemployment {
    width: 20%;
    text-align: center;
  }

  .hours {
    width: 13%;
  }

  .own {
    background: yellow;
  }

  .newUser {
    background: lightgreen;
  }

  .shift {
    width: 7%;
    text-align: center;
  }
  .rownum {
    width: 7%;
    text-align: center;
  }

  .ratestatus {
    width: 15%;
    text-align: center;
  }

  .danger {
    background: #ffcccc;
  }

  .containerTable {
    max-width: 450px;
  }

  #content {
    max-width: 450px !important;
    margin: 0 auto;
  }

  .mdhours {
    width: 15%;
  }

  .rowData {
    cursor: pointer;
  }
</style>

<style>
  #detail {
    padding: 5px;
    background-color: aliceblue;
  }

  .userFoto {
    width: 180px;
    height: 210px;
    margin: 5px;
  }

  #textInfo {
    text-align: left;
    font-size: small;
  }

  dl {
    display: flex;
    margin-bottom: 0;
  }

  dt {
    width: 70%;
  }

  .when {
    width: 33%;
  }

  .workhours {
    width: 33%;
  }

  .employeshift {
    width: 33%;
  }
</style>

<style>
  .work-day-row {
    cursor: pointer;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 30% auto;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
  }

  #work-table th {
    font-size: small;
    background: #007431;
    color: white;
    padding: 0 5px 0 5px;
    border-color: black;
  }

  #work-table td {
    font-size: small;
    padding: 0 5px 0 5px;
  }

  .close {
    color: #888;
    float: right;
    margin-left: 9px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: black;
  }

  .mashinf {
    width: 28%;
  }

  .detail {
    width: 30%;
  }

  .stage {
    width: 20%;
  }

  .quantity {
    width: 10%;
  }

  .mashinehors {
    width: 12%;
  }

  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
</style>

<h3 class="raitings">Рейтинг операторов</h3>
<div id="commandRow">
  <div id="groupDate">
    <div id="btnDown"><i class="bi bi-arrow-left-circle btnArrow"></i></div>
    <input id="date" name="date" type="text" readonly />
    <div id="btnUp"><i class="bi bi-arrow-right-circle btnArrow"></i></div>
  </div>
</div>

<div id="containerTable">
  <table id="tableList" cellpadding="1" cellspacing="0">
    <thead>
      <tr>
        <th class="rownum">№</th>
        <th class="sotrudnik">Оператор</th>
        <th class="hours">Часы</th>
        <th class="shift">С</th>
        <th class="mdhours">Сред Ч.</th>
        <!-- <th class="dateofemployment">Дата оф-я</th> -->
        <th class="ratestatus">Статус</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>
</div>

<script id="row-template" type="text/x-handlebars-template">
  {{#each this}}
    <tr class='rowData {{rowClass}}' uid='{{uid}}'>
      <td class='rownum'>{{Номер}}</td>
      <td class='sotrudnik'>{{Сотрудник}}</td>
      <td class='hours'>{{Часы}}</td>
      <td class='shift'>{{КоличествоСмен}}</td>
      <td class='mdhours'>{{СредниеЧасы}}</td>
      <!-- <td class='dateofemployment'>{{ДатаОформления}}</td> -->
      <td class='ratestatus'>{{Статус}}</td>
    </tr>
  {{/each}}
</script>

<script id="userInfo" type="text/x-handlebars-template">
  <td id='detail' colspan='6'>
    <div id='hideblock' style='display:flex;'>
      <img
        class='userFoto'
        src='/auth_files/photo/{{ИнфоПоСотруднику.emp_code_ZKTeco}}.jpg'
        alt='Фото користувача {{uid}}'
      />
      <div id='textInfo' style='width: 200px;'>
        <div class='user-info'>
          <p>{{ИнфоПоСотруднику.Должность}}</p>
          <p>Оформлен : {{ИнфоПоСотруднику.ДатаОформления}}</p>
          <a href='tel:{{ОсновнойНомерТелефона}}'>{{ИнфоПоСотруднику.ОсновнойНомерТелефона}}</a>
          <address>{{ИнфоПоСотруднику.address}}</address>
          <div class='fieldContainer'>
            <dl>
              <dt>Трудовая книга:</dt>
              <dd>{{#if ИнфоПоСотруднику.ТрудоваяКнига}} есть {{else}} нет {{/if}}</dd>
            </dl>
            <dl>
              <dt>Копия паспорта:</dt>
              <dd>{{#if ИнфоПоСотруднику.КопияПаспорта}} есть {{else}} нет {{/if}}</dd>
            </dl>
            <dl>
              <dt>Копия ИНН:</dt>
              <dd>{{#if ИнфоПоСотруднику.КопияИНН}} есть {{else}} нет {{/if}}</dd>
            </dl>
            <dl>
              <dt>Неразглашение:</dt>
              <dd>{{#if ИнфоПоСотруднику.НеразглашениеКоммерчТайны}} есть {{else}} нет {{/if}}</dd>
            </dl>
            <dl>
              <dt>{{#if ИнфоПоСотруднику.НеМестный}} Не местный {{/if}}</dt>
              <dd></dd>
            </dl>

          </div>
        </div>
        <!-- <div class='debt' style='color: red;'>Долг : {{debt}}</div> -->
      </div>

    </div>
    <div class='orderContainer'>
      <table>
        <thead>
          <tr>
            <th class='when'>Дата</th>
            <th class='workhours'>Часы</th>
            <th class='employeshift'>Смена</th>
            <!-- <th class='count'>Кол-во</th> -->
          </tr>
        </thead>
        <tbody>
          {{#each ИнфоПоОтчетам}}
            <tr class='work-day-row' data-date='{{Дата}}' data-shift='{{Смена}}' data-hours='{{Часы}}'>
              <td>{{Дата}}</td>
              <td>{{Часы}}</td>
              <td>{{Смена}}</td>
              <!-- <td>{{КоличествоИзготовлено}}</td> -->
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </td>
</script>

<script id="workInfo" type="text/x-handlebars-template">
  <div class='card'>

    <table id='work-table'>
      <thead>
        <tr>
          <th class='mashin'>Станок</th>
          <th class='detail'>Деталь</th>
          <th class='stage'>Этап</th>
          <th class='quantity textAlignEnd'>К-во</th>
          <th class='mashinehors textAlignEnd'>Часы</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
          <tr>
            <td>{{Станок}}</td>
            <td>{{Деталь}}</td>
            <td>{{Этап}}</td>
            <td class='textAlignEnd'>{{Количество}}</td>
            <td class='textAlignEnd'>{{Часы}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>

<script>
  $(document).ready(function () {
    const tableID = '#tableList';
    let options = { year: 'numeric', month: 'numeric', timezone: 'UTC' };
    let date = new Date();
    let allData = [];
    const pageUID = localStorage.getItem('PageUID');
    const userRights = $('#menu').data('userRight')[pageUID];
    let currentUser = {};

    if (testEnvironment) {
      date = new Date('2025-02-22');
    }

    $(document).on('click', '.work-day-row', function () {
      const row = $(this);
      const date = row.data('date');
      console.log(currentUser, date);
      const dataOfDay = currentUser?.ИнфоПоОтчетам?.find(r => r.Дата === date)['РаботыЗаСмену'];
      console.log('dataOfDay', dataOfDay);
      showWorkDetails(dataOfDay);
    });

    console.log('userRights', userRights);

    $('#date').val(date.toLocaleString('ru', options));

    $('#btnDown').on('click', function (event) {
      clickAnimate(this);
      date.setMonth(date.getMonth() - 1);
      $('#date').val(date.toLocaleString('ru', options));
      getData();
    });

    $('#btnUp').on('click', function (event) {
      clickAnimate(this);
      date.setMonth(date.getMonth() + 1);
      console.log('date', date);
      $('#date').val(date.toLocaleString('ru', options));
      getData();
    });

    function getData() {
      console.log('getData date', date);
      universalRequest(
        '/app/ratingOperators',
        'GET',
        {},
        { date: date.toISOString() },
        function onSuccess(response) {
          console.log('Success callback', response);
          allData = response.list;
          generateFromTemplate('#row-template', allData, '#tableBody');
        },
        function onError(error) {
          console.log('Error callback:', error);
        },
        () => {}
      );
    }

    $(tableID).on('click', '.rowData', function () {
      const uid = $(this).attr('uid') || '';
      const currentUID = user.uid;
      console.log('userRights', userRights);
      if (!userRights.canViewDetailInfo) {
        if (uid !== currentUID) {
          return;
        }
      }

      console.log('uid', uid);
      const infoElement = $('#infoRow');
      const isInfoPresent = infoElement.length > 0;
      const oldUID = isInfoPresent ? infoElement.attr('uid') || '' : '';
      const needRender = !isInfoPresent || uid !== oldUID;
      console.log('needRender', needRender, infoElement, oldUID, uid);
      if (isInfoPresent) {
        infoElement.remove();
      }

      if (needRender) {
        render(uid, this);
        console.log('needRender');
      }
    });

    function render(uid, targetRow) {
      console.log('render', this, uid);
      console.log('targetRow', targetRow);
      let newRow = $(`<tr id='infoRow'>row about user</tr>`);
      $(targetRow).after(newRow);
      $('#infoRow').attr('uid', uid);
      const data = {
        date: date.toISOString(),
        userUID: uid,
      };
      getUserInfo(data);

      // setTimeout(() => {
      //   $('.work-day-row')
      //     .off('click')
      //     .on('click', function () {
      //       const $row = $(this);
      //       showWorkDetails({
      //         date: $row.data('date'),
      //         shift: $row.data('shift'),
      //         hours: $row.data('hours'),
      //       });
      //     });
      // }, 300);
    }

    function getUserInfo(data) {
      console.log('data', data);
      universalRequest(
        '/app/ratingOperators',
        'POST',
        data,
        {},
        function onSuccess(response) {
          currentUser = response;
          console.log('Success callback', response);
          generateFromTemplate('#userInfo', response, '#infoRow');

          const currentUID = user.uid;
          const uid = response['ИнфоПоСотруднику'].uid;

          console.log('currentUID', currentUID, 'uid', uid);

          if (uid === currentUID) {
            $('#hideblock').hide();
            console.log('hideblock', $('#hideblock'));
          }
        },
        function onError(error) {
          console.log('Error callback:', error);
        },
        () => {}
      );
    }

    function showWorkDetails(dataOfDay) {
      console.log('showWorkDetails', dataOfDay);
      // 2. Создаем модальное окно (если еще не существует)
      if ($('#workDetailsModal').length === 0) {
        $('body').append(`
      <div id="workDetailsModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          
          <div id="workDetailsContent"></div>
        </div>
      </div>
    `);

        $('.close').on('click', function () {
          $('#workDetailsModal').hide();
        });
      }

      // 4. Рендерим содержимое
      generateFromTemplate('#workInfo', dataOfDay, '#workDetailsContent');
      $('#workDetailsModal').show();
    }
    getData();
  });
</script>
