<!--for date field and arrows-->
<style>
  .raitings {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }

  #commandRow {
    position: relative;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
  }

  #groupDate {
    display: flex;
    align-items: center;
  }

  #date {
    width: 100%;
    margin-right: 10px;
    text-align: center;
    font-size: x-large;
    height: 36px;
    margin-bottom: 2px;
    max-width: 140px;
    padding: 0;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid darkgrey;
  }

  .btnArrow {
    font-size: xx-large;
    color: darkgreen;
  }

  #tableList {
    width: 100%;
    font-size: small;
    background-color: #ffffff;
    border-collapse: collapse;
    position: relative;
  }

  #tableList thead {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  #tableList th {
    background: #007431;
    color: white;
    padding: 0 5px 0 5px;
    border-color: black;
    position: sticky;
    top: 0;
  }

  .sotrudnik {
    width: 35%;
    text-align: left;
  }
  .sotrudnik,
  .dateofemployment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dateofemployment {
    width: 20%;
    text-align: center;
  }

  .hours {
    width: 13%;
    text-align: right;
  }

  .own {
    background: yellow;
  }

  .newUser {
    background: lightgreen;
  }

  .shift {
    width: 7%;
    text-align: center;
  }
  .rownum {
    width: 7%;
    text-align: center;
  }

  .ratestatus {
    width: 15%;
    text-align: center;
  }

  .danger {
    background: #ffcccc;
  }

  .containerTable {
    max-width: 450px;
  }

  #content {
    max-width: 450px !important;
    margin: 0 auto;
  }

  .mdhours {
    width: 16%;
    text-align: right;
  }

  .rowData {
    cursor: pointer;
  }

  td {
    padding: 0 5px;
  }
</style>

<!-- for user info -->
<style>
  #detail {
    padding: 5px;
    background-color: aliceblue;
  }

  .userFoto {
    width: 180px;
    height: 210px;
    margin: 5px;
  }

  #textInfo {
    text-align: left;
    font-size: small;
  }

  dl {
    display: flex;
    margin-bottom: 0;
  }

  dt {
    width: 70%;
  }

  .workDayInfoHeader .when {
    border-right: 1px solid black;
    text-align: center;
  }

  .when {
    width: 33%;
    padding: 0 5px;
    border-right: 1px solid #ccc;
    line-height: 1.5;
  }

  .workDayInfoHeader .workhours {
    border-right: 1px solid black;
    text-align: center;
  }

  .workhours {
    width: 33%;
    padding: 0 5px;
    border-right: 1px solid #ccc;
    line-height: 1.5;
  }

  .workDayInfoHeader .employeshift {
    text-align: center;
  }

  .employeshift {
    width: 33%;
    padding: 0 5px;
    line-height: 1.5;
  }
</style>

<style>
  .mashin {
    width: 26%;
  }

  .part {
    width: 28%;
  }

  .stage {
    width: 20%;
  }

  .quantity {
    width: 13%;
  }

  .mashinehors {
    width: 14%;
  }

  .blur {
    filter: blur(2px);
    background-color: rgba(222, 237, 229, 0.8);
  }

  .workDayInfoHeader {
    display: flex;
    font-size: small;
    background-color: #007431;
    color: white;
    border: 1px solid black;
  }

  .workDayInfoHeader,
  .mashin,
  .part,
  .stage,
  .quantity {
    border-right: 1px solid black;
    text-align: center;
  }

  .work-day-row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    font-size: small;
  }
</style>

<!-- for accordion -->
<style>
  /* Стили для заголовка секции аккордеона */
  div.qpart-ui-accordion .qpart-ui-accordion-header {
    display: flex;
    justify-content: normal;
    background: #fff;
    border: solid #ccc;
    border-width: 0 1px 1px 1px;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  /* Иконка в заголовке аккордеона */
  div.qpart-ui-accordion .qpart-ui-accordion-header-icon {
    background-image: none;
    width: 0;
  }

  /* Стиль для активного (развернутого) заголовка */
  div.qpart-ui-accordion .qpart-ui-accordion-header-active {
    display: flex;
    justify-content: normal;
    background: #fff;
    border: solid #ccc;
    border-width: 0 1px 1px 1px;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  /* Содержимое секции аккордеона */
  div.qpart-ui-accordion .qpart-ui-accordion-content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .workDayInfoRow {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .workDayInfoRow-mashin,
  .workDayInfoRow-part,
  .workDayInfoRow-stage,
  .workDayInfoRow-quantity {
    border-left: 1px solid #eee;
  }

  .workDayInfoHeader .mashin {
    width: 26.3%;
  }

  .workDayInfoHeader .part {
    width: 27.5%;
  }
  .workDayInfoHeader .stage {
    width: 20.3%;
  }

  .workDayInfoHeader .quantity {
    width: 13%;
  }

  .workDayInfoHeader .mashinehors {
    width: 14%;
  }

  .workDayInfoRow-mashin {
    width: 26%;
  }

  .workDayInfoRow-part {
    width: 27%;
  }

  .workDayInfoRow-stage {
    width: 20%;
  }

  .workDayInfoRow-quantity {
    width: 13%;
    text-align: right;
    border-right: 1px solid #eee;
  }

  .workDayInfoRow-mashinehors {
    width: 14%;
    text-align: right;
    border-right: 1px solid #eee;
  }
  .workDayInfoHeader > div,
  .workDayInfoRow > div {
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .totalHoursRow {
    display: grid;
    grid-template-columns: calc(100% - 12%) 12%;
    align-items: center;
    font-weight: bold;
  }

  .total {
    text-align: right;
    padding-right: 10px;
  }

  .hoursTotal {
    text-align: right;
    padding-right: 5px;
  }
</style>

<h3 class="raitings">Рейтинг операторов</h3>
<div id="commandRow">
  <div id="groupDate">
    <div id="btnDown"><i class="bi bi-arrow-left-circle btnArrow"></i></div>
    <input id="date" name="date" type="text" readonly />
    <div id="btnUp"><i class="bi bi-arrow-right-circle btnArrow"></i></div>
  </div>
</div>

<div id="containerTable">
  <table id="tableList" cellpadding="1" cellspacing="0">
    <thead>
      <tr>
        <th class="rownum">№</th>
        <th class="sotrudnik">Оператор</th>
        <th class="hours">Часы</th>
        <th class="shift">С</th>
        <th class="mdhours">Сред Ч.</th>
        <th class="ratestatus">Статус</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>
</div>

<script id="row-template" type="text/x-handlebars-template">
  {{#each this}}
    <tr class='rowData {{rowClass}}' uid='{{uid}}'>
      <td class='rownum'>{{Номер}}</td>
      <td class='sotrudnik'>{{Сотрудник}}</td>
      <td class='hours'>{{Часы}}</td>
      <td class='shift'>{{КоличествоСмен}}</td>
      <td class='mdhours'>{{СредниеЧасы}}</td>
      <td class='ratestatus'>{{Статус}}</td>
    </tr>
  {{/each}}
</script>

<script id="userInfo" type="text/x-handlebars-template">
  <td id='detail' colspan='6'>
    <div id='hideUserInfoBlock' style='display:flex;'>
      <img
        class='userFoto'
        src='/auth_files/photo/{{ИнфоПоСотруднику.emp_code_ZKTeco}}.jpg'
        alt='Фото користувача {{uid}}'
      />
      <div id='textInfo' style='width: 200px;'>
        <div class='user-info'>
          <p>{{ИнфоПоСотруднику.Должность}}</p>
          <p>Оформлен : {{ИнфоПоСотруднику.ДатаОформления}}</p>
          <a href='tel:{{ОсновнойНомерТелефона}}'>{{ИнфоПоСотруднику.ОсновнойНомерТелефона}}</a>
          <address>{{ИнфоПоСотруднику.address}}</address>
          <div class='fieldContainer'>
            <dl>
              <dt>Трудовая книга:</dt>
              <dd>{{#if ИнфоПоСотруднику.ТрудоваяКнига}} есть {{else}} нет {{/if}}</dd>
            </dl>
            <dl>
              <dt>Копия паспорта:</dt>
              <dd>{{#if ИнфоПоСотруднику.КопияПаспорта}} есть {{else}} нет {{/if}}</dd>
            </dl>
            <dl>
              <dt>Копия ИНН:</dt>
              <dd>{{#if ИнфоПоСотруднику.КопияИНН}} есть {{else}} нет {{/if}}</dd>
            </dl>
            <dl>
              <dt>Неразглашение:</dt>
              <dd>{{#if ИнфоПоСотруднику.НеразглашениеКоммерчТайны}} есть {{else}} нет {{/if}}</dd>
            </dl>
            <dl>
              <dt>{{#if ИнфоПоСотруднику.НеМестный}} Не местный {{/if}}</dt>
              <dd></dd>
            </dl>

          </div>
        </div>
      </div>

    </div>
    <div class='orderContainer'>

      <div class='workDayInfoHeader'>
        <div class='when'>Дата</div>
        <div class='workhours'>Часы</div>
        <div class='employeshift'>Смена</div>
      </div>

      <div id='accordion'>
        {{#each ИнфоПоОтчетам}}
          <h3 class='work-day-row' data-date='{{Дата}}' data-shift='{{Смена}}' data-hours='{{Часы}}'>
            <div class='when'>{{Дата}}</div>
            <div class='workhours textAlignEnd'>{{Часы}}</div>
            <div class='employeshift textAlignCenter'>{{Смена}}</div>
          </h3>
          <div class=''>
            <div class='workDayInfoHeader'>
              <div class='mashin'>Станок</div>
              <div class='part'>Деталь</div>
              <div class='stage'>Этап</div>
              <div class='quantity'>К-во</div>
              <div class='mashinehors'>Часы</div>
            </div>
            {{#each РаботыЗаСмену}}
              <div class='workDayInfoRow'>
                <div class='workDayInfoRow-mashin'>{{Станок}}</div>
                <div class='workDayInfoRow-part'>{{Деталь}}</div>
                <div class='workDayInfoRow-stage'>{{Этап}}</div>
                <div class='workDayInfoRow-quantity'>{{Количество}}</div>
                <div class='workDayInfoRow-mashinehors'>{{Часы}}</div>
              </div>
            {{/each}}
            <div class='totalHoursRow'>
              <div class='total'>Итого:</div>
              <div class='hoursTotal'>{{Часы}}</div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

  </td>
</script>

<script>
  $(document).ready(function () {
    const tableID = '#tableList';
    let options = { year: 'numeric', month: 'numeric', timezone: 'UTC' };
    let date = new Date();
    let allData = [];
    const pageUID = localStorage.getItem('PageUID');
    const userRights = $('#menu').data('userRight')[pageUID];
    let currentUser = {};

    if (testEnvironment) {
      date = new Date('2025-02-22');
    }

    console.log('userRights', userRights);

    $('#date').val(date.toLocaleString('ru', options));

    $('#btnDown').on('click', function (event) {
      clickAnimate(this);
      date.setMonth(date.getMonth() - 1);
      $('#date').val(date.toLocaleString('ru', options));
      getData();
    });

    $('#btnUp').on('click', function (event) {
      clickAnimate(this);
      date.setMonth(date.getMonth() + 1);
      console.log('date', date);
      $('#date').val(date.toLocaleString('ru', options));
      getData();
    });

    function getData() {
      console.log('getData date', date);
      universalRequest(
        '/app/ratingOperators',
        'GET',
        {},
        { date: date.toISOString() },
        function onSuccess(response) {
          console.log('Success callback', response);
          allData = response.list;
          generateFromTemplate('#row-template', allData, '#tableBody');
        },
        function onError(error) {
          console.log('Error callback:', error);
        },
        () => {}
      );
    }

    $(tableID).on('click', '.rowData', function () {
      const uid = $(this).attr('uid') || '';
      const currentUID = user.uid;
      console.log('userRights', userRights);
      if (!userRights.canViewDetailInfo) {
        if (uid !== currentUID) {
          return;
        }
      }

      console.log('uid', uid);
      const infoElement = $('#infoRow');
      const isInfoPresent = infoElement.length > 0;
      const oldUID = isInfoPresent ? infoElement.attr('uid') || '' : '';
      const needRender = !isInfoPresent || uid !== oldUID;
      console.log('needRender', needRender, infoElement, oldUID, uid);
      if (isInfoPresent) {
        infoElement.remove();
      }

      $('.rowData').removeClass('blur');

      if (needRender) {
        $('.rowData').addClass('blur');
        $(this).removeClass('blur');
        render(uid, this);
        console.log('needRender');
      }
    });

    function render(uid, targetRow) {
      console.log('render', this, uid);
      console.log('targetRow', targetRow);
      let newRow = $(`<tr id='infoRow'>row about user</tr>`);
      $(targetRow).after(newRow);
      $('#infoRow').attr('uid', uid);
      const data = {
        date: date.toISOString(),
        userUID: uid,
      };
      getUserInfo(data);
    }

    function getUserInfo(data) {
      console.log('data', data);
      universalRequest(
        '/app/ratingOperators',
        'POST',
        data,
        {},
        function onSuccess(response) {
          currentUser = response;
          console.log('Success callback', response);
          generateFromTemplate('#userInfo', response, '#infoRow');

          $('#accordion').accordion({
            collapsible: true,
            active: false,
            heightStyle: 'content',
            classes: {
              'ui-accordion': 'qpart-ui-accordion',
              'ui-accordion-header': 'qpart-ui-accordion-header',
              'ui-accordion-header-collapsed': 'qpart-ui-accordion-header-collapsed',
              'ui-accordion-header-active': 'qpart-ui-accordion-header-active',
              'ui-accordion-header-icon': 'qpart-ui-accordion-header-icon',
              'ui-accordion-content': 'qpart-ui-accordion-content',
              'ui-accordion-icons': 'qpart-ui-accordion-icons',
              'ui-accordion-content-active': 'qpart-ui-accordion-content-active',
            },
          });
          const currentUID = user.uid;
          const uid = response['ИнфоПоСотруднику'].uid;

          console.log('currentUID', currentUID, 'uid', uid);

          if (uid === currentUID) {
            $('#hideUserInfoBlock').hide();
            console.log('hideUserInfoBlock', $('#hideUserInfoBlock'));
          }
        },
        function onError(error) {
          console.log('Error callback:', error);
        },
        () => {}
      );
    }
    getData();
  });
</script>
