<style>
    .btnArrow {
        font-size: xx-large;
        display: block;
        line-height: 41px;
    }

    #date {
        margin: 0 10px;
        width: 170px;
        text-align: center;
        font-size: x-large;
    }

    .ui-icon {
        margin-top: 0px;
    }

    .workTime{
        margin-left: 50px;
        width: 110px;
    }

    .workDay{
        width: 150px;
    }

    .reportsTime {
        margin-left: 50px;
        width: 170px;
    }

    .tabelTime {
        margin-left: 50px;
        width: 140px;
    }

    .totalInfo {
        margin-top: 8px;
    }
</style>


<div style="display: flex;">
    <h3 class="titlePage">Выработка / Табель</h3>

    <div style="display: flex; height: 40px; margin-left: 20px;">
        <i class="bi bi-arrow-left-circle btnArrow colorGreen" increment="-1"></i>
        <input id="date" name="date" type="text" readonly>
        <i class="bi bi-arrow-right-circle btnArrow colorGreen" increment="1"></i>
    </div>
</div>

<div id="containerResult"></div>

<script>
/*     try {
        let week = 0;
    } catch (error) {
        week = 0;
    }

    try {
        let accordion = false;
    } catch (error) {
        accordion = false;
    } */
    //let week = 0;
    //let accordion = false;

    $(document).ready(function() {
        let week = 0;
        let accordion = false;

/*         if (typeof accordion === 'undefined') {
            // Если переменная accordion не определена, объявите её
            var accordion = {};
            // Здесь вы можете добавить необходимую логику для инициализации переменной
        } */

        $('.btnArrow').on('click', function(event){
            clickAnimate(this);
            week += parseInt($(this).attr('increment')||0);
            updateInfo();
        })

        $('#date').on('click', function(event){
            week = 0;
            updateInfo();
        })

        function updateInfo() {
            console.log('updateInfo');

            NProgress.start();

            $.ajax({ url: '/app/tabelWork', type: 'GET', data: {week:week}, dataType: 'json', success: function(response) {
                console.log('response', response);

                if(accordion){
                    try {
                        console.log('destroy');
                        $( "#containerResult" ).accordion("destroy");
                    } catch (error) {
                        
                    }
                    
                    accordion = false;
                }

                $('#containerResult').html('');
                $('#date').val(''); 

                if (response.error) {
                    toastr.error("Ошибка при получении данных");
                    return;
                }

                $('#date').val(response['Период']);     

                /* <div class="workTime">${day['ВремяПрихода']} - ${day['ВремяУхода']}</div> */

                let summForWeek = 0;

                response.days.forEach((day) => {
                    //console.log('day', day);
                    let elemDay = $(`<h3 style="display: flex;">
                                        <div class="workDay">${day.dateLabel}</div> 
                                        <div class="workTime"></div>
                                        <div class="reportsTime">${day['ВремяВыработкиЗаДеньПоОтчетамСтрокой']}</div>
                                        <div class="tabelTime">${day['ИтогЧасовЗаДеньПоТабелюСтрокой']}</div>
                                    </h3>`);
                    $('#containerResult').append(elemDay);

                    let elemDayInfo = $(`<div></div>`).appendTo('#containerResult');

                    if (day.reports.length > 0) {
                        let elemDayReports = $(`<table><thead><tr>
                                                    <th style="width:70px;">Станок</th>
                                                    <th>Деталь</th>
                                                    <th style="width:70px;">Этап</th>
                                                    <th style="width:75px;">Кол-во сделано</th>
                                                    <th style="width:70px;">Кол-во брака</th>
                                                    <th style="width:70px;">Кол-во годных</th>
                                                    <th style="width:70px;">Цена</th>
                                                    <th style="width:70px;">Сумма</th>
                                                </tr></thead><tbody></tbody></table>`);

                        $(elemDayInfo).append(elemDayReports);

                        let elemTbody = $(elemDayInfo).find('tbody');
                        let summForDay = 0;

                        day.reports.forEach((report) => {
                            //console.log('report', report, report['Деталь']['Артикул']);
                            let количествоГодных = Number(report['КоличествоГодных'].replace(',', '.')); // Преобразование в число, если это строка
                            let суммаОплатыЗаДетальНаЭтапе = Number(report['СуммаОплатыЗаДетальНаЭтапе'].replace(',', '.')); // То же самое здесь
                            let результатУмножения = количествоГодных * суммаОплатыЗаДетальНаЭтапе; // Математическая операция
                            summForDay += результатУмножения;
                            результатУмножения = результатУмножения.toFixed(2);
                            суммаОплатыЗаДетальНаЭтапе = суммаОплатыЗаДетальНаЭтапе.toFixed(2);

                            let elemDataRow = $(`<tr>
                                <td class="textAlignCenter">${report['Станок']['ИнвентарныйНомер']}</td>
                                <td>${report['Деталь']['Артикул']}</td>
                                <td class="textAlignCenter">${report['ЭтапПроизводства']['КодНовый']}</td>
                                <td class="textAlignEnd">${report['КоличествоИзготовлено']}</td>
                                <td class="textAlignEnd">${report['КоличествоБрака']}</td>
                                <td class="textAlignEnd">${report['КоличествоГодных']}</td>
                                <td class="textAlignEnd">${report['СуммаОплатыЗаДетальНаЭтапе']}</td>
                                <td class="textAlignEnd">${результатУмножения}</td>
                            </tr>`);

                            //<td class="textAlignEnd">${report['СуммаЗаВсеДетали']}</td>
                            //console.log('elemDataRow', elemDataRow);
                            $(elemTbody).append(elemDataRow);
                        })

                        summForWeek += summForDay;
                        summForDay = summForDay.toFixed(2);
                        let elemDataRow = $(`<tr class="lastRowSumm">
                            <td colspan="7" class="textAlignEnd" style="border: none;">Всего:</td>
                            <td class="textAlignEnd" style="border: none;">${summForDay}</td>
                        </tr>`);

                        $(elemTbody).append(elemDataRow);

                        $(elemDay).find('.reportsTime').text('По отчетам : ' + summForDay);
                    }
                    
                });

                $("#containerResult").accordion({
                    heightStyle: "content",
                    collapsible: true,
                    active: false
                });

                let summForWeekStr = summForWeek.toFixed(2);

                $('#containerResult').append($(`<h4 class="totalInfo textAlignEnd">${response['Премия']}</h4>`));
                $('#containerResult').append($(`<h4 class="totalInfo textAlignEnd">${response['Удержано']}</h4>`));

                let elemTotal = $(`<h4 class="totalInfo textAlignEnd">${response['ИтоговаяСтрока']}</h4>`);
                $('#containerResult').append(elemTotal);

                $('#containerResult').append($(`<h4 class="totalInfo textAlignEnd">${response['Долг']}</h4>`));

                accordion = true;
            },complete: function(xhr, status) {
                NProgress.done();
            }});
        }

        updateInfo();
    })
</script>