<style></style>

<div id="detailContainer" class="container-slide" style="display: none">
  Деталі

  <div id="detailList" class="containerForRender"></div>
</div>

<script>
  $(document).ready(function () {});
</script>
