<style></style>

<div id="usersContainer" style="display: none">Оператори</div>

<script id="usersTemplate" type="text/x-handlebars-template">
  {{#each blocks}}
    <div id='{{uid}}' class='userName'>
      {{name}}
    </div>
  {{/each}}
</script>

<script>
  $(document).ready(function () {});
</script>
