body {
  margin: 0px;
  padding: 0px;
  background-color: #eee;
  font-family: arial, sans-serif;
}

.test {
  background-color: darkblue;
}

body,
html {
  max-width: 100%;
  height: 100%;
}

#container {
  max-width: 1280px;
  margin: auto;
  height: 100vh;
}

#login {
  max-width: 450px;
  margin: auto;
  min-width: 200px;
}

.spinner {
  position: absolute;
  top: 8px;
  right: calc(3em);
  z-index: 4;
}

#content {
  /* overflow: scroll; */
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  font-size: 2vw;
}

@media screen and (min-width: 1280px) {
  #content {
    font-size: 25.6px;
  }
}

/* @media (max-width: 800px) {
  #content {
    padding-left: 5px !important;
    padding-right: 5px !important;
  } */

#overlay {
  display: none; /* Изначально оверлей скрыт */
  position: fixed; /* Оверлей будет фиксированным независимо от прокрутки */
  top: 0;
  left: 0;
  width: 100%; /* Ширина и высота на всю страницу */
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 1000; /* Z-index достаточно высок, чтобы быть над другими элементами */
}

/* #btnStartVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 50px;
  transform: translate(-50%, -50%);
  background-color: darkgreen;
} */

#video {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100% - 56px);
  object-fit: contain;
  z-index: 1000;
}

.noColorImg {
  filter: grayscale(100%);
}

#group-navbar {
  display: inherit;
}

#navbar_text_stanok {
  padding-right: 10px;
  color: #eee;
  font-size: 1.4em;
  background-color: darkgoldenrod;
  padding-left: 10px;
  margin-right: 20px;
  text-overflow: ellipsis;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  display: none;
  /* display: flex !important; */
  align-items: center;
}

#navbar_text {
  margin-left: auto;
  padding-right: 15px;
  color: #eee;
  text-align: end;
  font-size: 1.6em;
  background-color: darkgreen;
  padding-left: 15px;
}

#exit {
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

#navbarText {
  text-align: end;
}

.nav-link {
  padding: 0.8rem 1rem;
  font-size: 1.3em;
}

.mainColor {
  background-color: darkgreen !important;
}

.color {
  color: darkgreen !important;
}

.rightAlign {
  margin-left: auto;
}

#nprogress .bar {
  height: 5px;
}

.invalid {
  box-shadow: 0px -6px 5px -5px red inset;
}

.text-container {
  overflow: hidden;
  display: inline-flex;
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  margin-left: 5px;
}

#navbar-brand-text {
  width: fit-content;
}

.text-animation {
  animation: slideText 5s linear infinite;
}

@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1; /* Блок може стискатися */
  max-width: 100%; /* Максимальна ширина блока */
  width: 10%;
}

.ui-autocomplete {
  max-height: 400px;
  font-size: 1.5em;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-menu-item {
  white-space: normal;
}

* html .ui-autocomplete {
  height: 100px;
}

@media (max-width: 450px) {
  #navbar_text {
    width: 80px;
    display: none;
  }
}

@media (max-width: 750px) {
  #navbar_text_stanok {
    display: none !important;
  }

  .ui-autocomplete {
    font-size: 1.3em;
  }
}

.highlight {
  font-weight: bold;
  color: red;
  transition: all 300ms ease;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes clickAnimationColor {
  0% {
    color: initial;
  }
  50% {
    color: grey;
  }
  100% {
    color: initial;
  }
}

.clicked {
  animation: clickAnimation 0.2s ease;
}

.clickedColor {
  animation: clickAnimationColor 0.2s ease;
}

.textAlignCenter {
  text-align: center;
}

.textAlignEnd {
  text-align: end;
}

.btnRow {
  font-size: 2.5rem;
  display: block;
  line-height: 1.2em;
}

@media (orientation: portrait) {
  .btnRow {
    font-size: 2em;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .btnRow {
    font-size: 2em;
  }
}

.colorGreen {
  color: #007431;
}

.colorRed {
  color: #ff0000;
}

.checkboxInTable {
  height: 1.5em;
  margin-top: 0.51em;
}

/* tr.rowData td:has(input[type="checkbox"]) {
  vertical-align: middle;
  text-align: center;
  line-height: normal;
} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.toast {
  padding-right: 0.5em !important;
}

.toast-center-error {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 500px;
}

#toast-container > .toast-error {
  /* font-size: 1.5em; */
  width: 500px;
  max-width: 500px;
}

@media (max-width: 600px) {
  .toast-message {
    font-size: 0.8em;
  }

  .toast {
    width: fit-content !important;
  }
}

/* command panel breakpoints: 600px, 1280px */
#commandPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}

.commandPanel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.commandImg {
  height: 100%;
  width: 48px;
}

.status {
  position: relative;
  font-size: x-small;
  border-radius: 5px;
  padding: 3px;
  top: -5px;
  text-align: end;
  display: block;
  text-align: end;
  display: block;
  color: darkgreen;
}

.titleContainer {
  align-self: flex-start;
}

.titlePage {
  line-height: 2em;
  font-size: clamp(18px, 1.6em, 26px);
  font-weight: bold;
  margin: 0;
}

.titlePage2 {
  font-size: x-large;
  position: relative;
  font-weight: bold;
  margin: 0;
  line-height: normal;
}

.commandRow {
  display: flex;
  position: relative;
  align-items: center;
  align-self: flex-end;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

#addNew {
  margin-left: auto;
}

#search {
  border: none;
  line-height: 100%;
  height: 100%;
  padding-right: 0;
}
#searchInput {
  box-shadow: none;
}

#search:focus {
  box-shadow: none;
}

#search-addon {
  background-color: #fff;
}

.groupSearch {
  width: 170px;
  border: 1px solid #aaa;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: large;
}

#groupSearch {
  margin: 0;
}

.groupSearch:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.groupSearch input {
  border: none;
}

.btnContainer {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  gap: 10px;
}

#sortContainer {
  position: relative;
}

#sortList {
  display: none;
  height: 0;
  position: absolute;
  font-size: x-large;
  width: max-content;
  padding: 10px;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 01s, visibility 0.3s, transform 0.3s ease-out;
  transform: translateY(-10px);
}

#sortList.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(5px);
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

#sortList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sortList li {
  padding: 10px 20px 10px 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
}

#sortList li:hover {
  background-color: #f0f0f0;
}

#sortList li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: darkgreen;
}

#btnAdd {
  font-size: xxx-large;
  color: darkgreen;
  margin-left: auto;
  line-height: 1em;
  margin-right: 10px;
}

.btnAdd {
  font-size: xxx-large;
  color: darkgreen;
  margin-left: auto;
  line-height: 1em;
  margin-right: 10px;
}

@media (max-width: 600px) {
  #addNew,
  #btnAdd {
    margin-left: auto;
    margin-right: 5px;
  }
}

@media (min-width: 1280px) {
}

.formContainer {
  width: fit-content;
  margin: auto;
  margin-bottom: 1em;
  background-color: aliceblue;
  padding: 0.6em;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.formTitle {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 0.6em;
}

.formButton {
  font-size: 0.8em;
}

.hide {
  display: none !important;
}

.selectedEtap td {
  font-weight: 600;
  background-color: gold;
}

.displayFlex {
  display: flex;
}

.fontWeight600 {
  font-weight: 600;
}

.dangerColor {
  color: #ff0000;
}

/* камера */
#formMainCamera {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: beige;
}

#mainCamera {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  z-index: 9;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

.flash-effect {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}

.source {
  width: 100%;
  display: none;
}

.preview {
  width: 100%;
}

.fullScreenVideo {
  position: fixed;
  width: 1vw;
  height: auto;
}

.attachedImgBtn {
  position: absolute;
  top: 5px;
  color: red;
  right: 5px;
  font-size: xx-large;
  font-weight: 600;
  /* background-color: darkgreen; */
  border-radius: 20px;
  height: 32px;
  line-height: 35px;
  width: 32px;
}

#captureVideo {
  color: #ff0000;
}

#videoTimer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  display: none; /* Початково прихований */
}

.displayNone {
  display: none;
}
