table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; /* Это объединяет границы ячеек в одну линию */
  background-color: white;
  font-size: 1em;
}

th,
td {
  overflow: hidden; /* прячет содержимое, если оно не умещается в ячейку */
  text-overflow: ellipsis; /* добавляет многоточие, если содержимое не умещается в ячейку */
  border: 1px solid rgb(202, 202, 202);
}

th {
  background-color: darkgreen;
  color: white;
  border: 1px solid white;
  text-align: center;
  /* text-wrap: wrap; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  padding: 5px 0 5px 0;
}

td {
  white-space: nowrap; /* запрещает перенос текста на новую строку */
  padding: 0 0.3vw;
}

td input {
  width: 100%;
  box-sizing: border-box; /* Учитывает padding и border в общей ширине */
  border: 1px solid darkgrey;
  background-color: #ffd70063;
}

.groupBtnRow {
  display: flex;
  justify-content: space-around;
}

input:disabled {
  background-color: white !important;
  border: none !important;
}
